<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="car_hardware_controller" type="system">
        <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware>
        <joint name='base_to_back_right_wheel_joint'>
            <command_interface name='velocity'/>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
        <joint name='base_to_back_left_wheel_joint'>
            <command_interface name='velocity'/>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
        <joint name='base_to_front_right_wheel_joint'>
            <command_interface name='velocity'/>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
        <joint name='base_to_front_left_wheel_joint'>
            <command_interface name='velocity'/>
            <state_interface name='position'/>
            <state_interface name='velocity'/>
        </joint>
    </ros2_control>
</robot>